<%- if controller_name != 'sessions' %>
  <p class = "login-text">すでに登録済みの方は</p>
  <div class = "login-link">
    <%= link_to new_session_path(resource_name) do %>こちら<% end %><span>からログインしてください。</span>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class = "login-text">会員登録が登録されていない方へ</p>
  <div class = "login-link">
    <%= link_to new_registration_path(resource_name) do %>こちら<% end %><span>から新規登録を行なってください。</span>
  </div>
<% end %>