<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class = "title-name">カテゴリ編集</h2>
      <%= form_with model: @category, url: admin_category_path(@category.id), method: :patch do |f| %>
        <div class = "row genre-edit">
          <div class = "col-3">
            <div class="form-group">
              <label for="postal_code">カテゴリ名</label>
            </div>
          </div>
          <div class = "col-4">
            <div class="form-group">
              <%= f.text_field :category, class:"form-control name" %>
            </div>
          </div>
          <div class = "col-3">
            <div class="form-group">
              <%= f.submit '変更を保存', class:"btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>